.chartsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.chartSection {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
