.services {
  padding: 40px;
  background-color: var(--color-light-gray);
  font-family: Arial, sans-serif;
}

.serviceCategory {
  max-width: 900px;
  margin: 0 auto;
}

.heading {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-black);
}

.category {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.75em;
  margin-bottom: 15px;
  color: var(--color-burgundy);
  background-color: var(--color-light-gray);
  border-radius: 8px;
  text-align: center;
}

.description {
  font-size: 1.1em;
  margin-bottom: 15px;
  line-height: 1.6;
  color: var(--color-black);
}

.features {
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--color-black);
}

.price {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 20px;
}

.specialOffers {
  background: var(--color-white);
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
}

.specialOffers h3 {
  font-size: 1.75em;
  color: var(--color-burgundy);
}

.booking {
  text-align: center;
  margin-top: 40px;
}

.bookButton {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--color-burgundy);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.bookButton:hover {
  background-color: var(--color-burgundy);
}
