.sliderContainer {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 35%;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--color-black);
}
.sliderImg {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  display: block;
}

.sliderCaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--color-white);
  width: 100%;
  padding: 0 10px;
}

.greeting {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.bookButton1 {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: var(--color-red);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.bookButton1:hover {
  background-color: var(--color-blue);
}
.bookButton2 {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: var(--color-red);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.bookButton2:hover {
  background-color: var(--color-blue);
}
@media (max-width: 768px) {
  .greeting {
    font-size: 1rem;
  }
  .sliderContainer {
    height: 240px;
    padding-bottom: 0;
  }
  .sliderImg {
    height: 240px;
  }
}
