.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-black);
  width: 100%;
  box-sizing: border-box;
}

.logo {
  /* flex: 1; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 100px;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}
.mobileLanguageSwitch {
  display: none;
}

.menuButton .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px 0;
  background-color: var(--color-black);
  transition: 0.3s;
}

.nav {
  display: flex;
  flex: 6;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  justify-content: space-between;
}

.navItem {
  margin: 0;
}

.navItemLink {
  color: var(--color-black);
  text-decoration: none;
  padding: 10px;
}
.navItemLink.active {
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 5px;
  padding: 10px 15px;
}

.navItemLink:hover {
  text-decoration: underline;
}
.languageSwitch {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 100px;
}

.languageButton {
  background: none;
  border: none;
  cursor: pointer;
}

.flagIcon {
  width: 24px;
  height: 16px;
  display: block;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--color-black);
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
  }

  .nav.active {
    display: flex;
  }

  .navList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .navItem {
    margin: 10px 0;
  }

  .navItemLink {
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  .navItemLink:hover {
    background-color: var(--color-light-gray);
  }
  .navItemLink:active {
    background-color: var(--color-light-gray);
    color: var(--color-burgundy);
  }
  .mobileLanguageSwitch {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: auto;
    margin-left: 20px;
  }
  .flagIcon {
    width: 24px;
    height: 16px;
    display: block;
  }
  .languageSwitch {
    display: none;
  }
}
