.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.menuButton .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px 0;
  background-color: #333;
  transition: 0.3s;
}

.nav {
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  justify-content: space-between;
}

.navItem {
  margin: 0;
}

.navItemLink {
  color: #000;
  text-decoration: none;
  padding: 10px;
}
.navItemLink.active {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  padding: 10px 15px;
}

.navItemLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
  }

  .nav.active {
    display: flex;
  }

  .navList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .navItem {
    margin: 10px 0;
  }

  .navItemLink {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  .navItemLink:hover {
    background-color: #555;
  }
  .navItemLink:active {
    background-color: #555;
    color: #f39c12;
  }
}
