.card {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 300px;
}

.name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.stars {
  text-align: center;
  margin-bottom: 1rem;
}

.starFilled {
  color: gold;
  font-size: 1.5rem;
}

.starEmpty {
  color: #ccc;
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  color: #555;
}
@media screen and (max-width: 768px) {
  .card {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
  }

  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .stars {
    text-align: center;
    margin-bottom: 10px;
  }

  .starFilled {
    color: gold;
    font-size: 15px;
  }

  .starEmpty {
    font-size: 15px;
  }

  .text {
    font-size: 10px;
  }
}
