.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s, text-decoration 0.3s;
}

.social-media-link:hover {
  color: #f39c12;
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info-item .social-media-link {
  margin: 5px 0;
}

.contact-info-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.contact-info-link:hover {
  color: #f39c12;
  text-decoration: underline;
}

.copyright {
  color: #aaa;
  font-size: 0.8rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-info {
    margin-top: 10px;
  }
}
