.specialOffers {
  text-align: center;
  margin: 2rem 1rem;
}

.specialOffersTitle {
  color: var(--color-black);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.offersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.offerItem {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-burgundy);
  padding: 1.5rem;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: inset 0 0 20px 10px var(--color-burgundy);
}

.offerItem::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid var(--color-burgundy);
  border-radius: 8px;
  transform: scale(1.1);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.offerItem:hover::before {
  transform: scale(1.15);
}

.offerItem h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.offerItem p {
  opacity: 0.7;
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* 📲 Планшет */
@media (min-width: 768px) and (max-width: 1024px) {
  .specialOffers {
    margin: 2rem;
  }

  .offersContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .specialOffersTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .offerItem {
    padding: 1.25rem;
    border-radius: 28px;
  }

  .offerItem h3 {
    font-size: 1.35rem;
  }

  .offerItem p {
    font-size: 1rem;
  }
}

/* 📱 Мобільна версія */
@media (max-width: 767px) {
  .specialOffers {
    margin: 0.1rem;
  }

  .offersContainer {
    grid-template-columns: 1fr;
    gap: 0.1rem;
  }

  .specialOffersTitle {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
  }

  .offerItem {
    padding: 0.5rem;
    border-radius: 40px;
  }

  .offerItem h3 {
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
  }

  .offerItem p {
    font-size: 0.5rem;
  }
}
