.specialOffers {
  text-align: center;
  margin: 2rem 1rem;
}

.offersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.specialOffersTitle {
  color: var(--color-black);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.offerItem {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-burgundy);
  padding: 1.5rem;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: inset 0 0 20px 10px var(--color-burgundy);
}

.offerItem::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid var(--color-burgundy);
  border-radius: 8px;
  transform: scale(1.1);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.offerItem:hover::before {
  transform: scale(1.15);
}

.offerItem h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.offerItem p {
  opacity: 0.7;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media (max-width: 768px) {
  .specialOffers {
    margin: 10px 20px;
  }
  .offersContainer {
    grid-template-columns: 1fr;
  }
  .specialOffersTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  offerItem {
    padding: 15px;
  }
  .offerItem h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .offerItem p {
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }
}
